certifi==2021.10.8
chardet==4.0.0
colorspacious==1.1.2
cycler==0.11.0
fonttools==4.28.5
joblib==1.1.0
kiwisolver==1.3.2
matplotlib==3.4.0
memory-profiler==0.60.0
numpy==1.21.5
packaging==21.3
pandas==1.3.5
patsy==0.5.2
Pillow==9.3.0
pkg_resources==0.0.0
psutil==5.9.0
pycairo==1.20.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
statsmodels==0.13.1
threadpoolctl==3.0.0
